Your task is to match the closest product from given product list.

PRODUCT LIST
=============
{{product_list}}
=============

PRODUCT TO MATCH: {{product}}

Only provide the index number as the output.
